__pycache__/
.venv/
*.env
.env

tmp/
tmp-*
*.gz
*.tgz
*.zip
*.npy

/choose_A_NAME/
/my_experiment/
/bike_botsu_stage*
/operation_stage*
/pretrained_models/*
!/pretrained_models/readme.*
ymc_*
/stage1/
/stage2/
